#filtros{
    background-color: bisque;
    height: 100vh;
    width: 303px !important;
}
#num{
    width: 20px;
}
#carrito{
    background-color: bisque;

    height: 100vh;
    
}
img{
    height: 250px;
    
}
#contenido{
    background-color: cornsilk;
}